/* Base */

@font-face {
	font-family: 'SportField-Black';
	src: url('../../font/SportField-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SportField-Italic';
	src: url('../../font/SportField-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--primary-color: #FB6628;
	--secondary-color: #64C9E1;
}

body {
	background-color: #ffffff;
	overflow: hidden;
	margin: 0;
	font-family: 'Solway', serif;
	color: white;
	user-select: none;
	text-shadow: 1px 1px 1px #000, 0px 1px 3px #000;
	font-family: 'SportField-Black';
}

html,
body {
	width: 100%;
	height: 100%;
}

h1 {
	font-weight: 400;
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
}

#canvas {
	width: 100%;
	height: 100%;
}


.loader {
  width: 72px;
  height: 12px;
  -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
  background:
   linear-gradient(#FB6628 0 0) 0/0% no-repeat #294360;
	transform: skew(-12deg);
  animation: l4 2s infinite steps(6);
}
@keyframes l4 {
    100% {background-size:120%}
}
