#lobby-ui-container {
  justify-content: space-between;
  position: relative;
}


.player-name {
  position: absolute;
  left: 960px; /* Adjust left position as necessary */
  top: 540px;
  color: black;
  font-size: 14px;
  z-index: 1;
}

.player-wrapper {
  display: block;
  position: absolute;
  width: 80px;
  height: 50px;
  left: 960px; /* Adjust left position as necessary */
  top: 540px;
  color: white;  
  background-color: white; 
  border: 1px solid black;
  z-index: 0;
}

.dynamic-button, .button-clicked {
  position: absolute;
  left: 730px; /* Adjust left position as necessary */
  top: 430px;
  width: 120px;
  height: 60px;
  background-color: white;
  color: black;
  border-color: green;
  border: 3px solid green;
  cursor: pointer;
  font-size: 20px;
}

.dynamic-button:hover {
  background-color: green;
}

.player-ready {
  position: absolute;
  left: 960px; /* Adjust left position as necessary */
  top: 580px;
  color: black;
  font-size: 14px;
  z-index: 1;
}

.ready-wrapper {
  display: block;
  position: absolute;
  width: 80px;
  height: 50px;
  left: 960px; /* Adjust left position as necessary */
  top: 580px;
  color: white;  
  background-color: green; 
  border: 1px solid black;
  z-index: 0;
}

#countdown-container{
  justify-content: space-between;
  position: relative;
}

.countdown {
  position: absolute; 
  left: 800px; 
  top: 400px;
  color: black;
  font-size: 50px;
  z-index: 1;
}

#lobby-timer-container {
	position: relative;
  }
  
  .timer, .timerMain {
	position: absolute;
	width: 451px;
	height: 79px;
	text-shadow: none;
	font-weight: bold;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	/* font-family: 'Cutive Mono', monospace; */
	text-align: center;
	/* background: #2CBACE; */
	/* color: #111; */
	border-radius: 2px;
  }
  
  .timer {
	left: 25px;
	top: 77px;
	font-size: 32px; /* Corrected size */
	color: #b94502;
  }
  
  .timerMain {
	left: 25px;
	top: 120px;
	font-weight: 600;
	font-size: 32px; /* Corrected size */
	color: #883200;
  }

#buy-stash{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.5);
}
.stash-page {
	position: relative;
	top: 170px;
	width: 699px;
	height: 339px;
	background-color: #34639A60;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
	text-shadow: none !important;
	color: white;
	text-align: center;
}

.ticket-number>input {
	padding: 0 7px;
	font-size: 30px;
	text-align: center;
	font-family: inherit;
	font-weight: bold;
	text-shadow: none !important;
	margin: 10px;
}

.price-page {
	position: fixed;
	display: none;
	justify-content: end;
	z-index: 100;
	width: 100%;
}

.price-pool {
	width: 365px;
	height: 94px;
	background-color: #9A843473;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
	margin-right: 21px;
	text-shadow: none !important;
}

#state-page {
	position: fixed;
	display: none;
	justify-content: start;
	z-index: 100;
	width: 100%;
	margin-top: 10px;
 	margin-left: 10px;
}

.state-content {
	width: 466px;
	height: 48px;
	background-color: #34639A60;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	font-family: system-ui;
	font-size: 13px;
	text-shadow: none !important;
}

.state-content>div {
	background-color: white;
	padding: 5px 18px;
	color: black;
}

.price-pool>div {
	height: 28px;
	background-color: #D9D9D9;
	border: 1px solid #C8A423;
	line-height: 14px;
	font-size: 13px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: system-ui;
}

.row1{
	position: relative;
}

#go {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: rgba(30, 30, 30, 0.5);
	display: none;
}

#go-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 120px;
}
.skew-right {
	position: relative;
	background-color: #FF5722; /* Adjust this color as needed */
	padding: 0.75rem 2rem;
	color: white;
	font-weight: bold;
	display: inline-block;
}

.skew-right::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	transform: skewX(-20deg);
	transform-origin: top right;
	border-top: 2px solid white; /* Adjust the border width and color as needed */
}

.tabs-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
}

a {
	color: #ffffff;
	display: block;
	font-weight: 200;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.right-skew-top-right-radius-border {
	position: relative;
}
.right-skew-top-right-radius-border:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: inherit;
	transform-origin: bottom left;
	-ms-transform: skew(-12deg, 0deg);
	-webkit-transform: skew(-12deg, 0deg);
	transform: skew(-12deg, 0deg);
	border-top-right-radius: 20px;
}

.right-skew-bottom-left-radius-border {
	position: relative;
	border-bottom-left-radius: 20px;
}
.right-skew-bottom-left-radius-border:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: inherit;
	transform-origin: bottom left;
	-ms-transform: skew(-12deg, 0deg);
	-webkit-transform: skew(-12deg, 0deg);
	transform: skew(-12deg, 0deg);
	border-bottom-left-radius: 20px;
}

.left-skew-top-left-radius-border {
	position: relative;
	border-top-left-radius: 20px;
}
.left-skew-top-left-radius-border:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: inherit;
	transform-origin: top right;
	-ms-transform: skew(-12deg, 0deg);
	-webkit-transform: skew(-12deg, 0deg);
	transform: skew(-12deg, 0deg);
	border-top-left-radius: 20px;
}

#createRoom {
	position: relative;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

.counter {
  width: 45px;  
  border-radius: 0px !important;
  text-align: center;
}
.up_count {
  margin-bottom: 10px;  
  margin-left: -4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} 
.down_count {
  margin-bottom: 10px;  
  margin-right: -4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#feeControl {
	background-color: rgba(30, 30, 30, 0.5);
	width: 100%;
}

#selector {
	position: absolute;
	top: 4vh;
	right: 35vw;
	display: none;
	justify-content: center;
	z-index: 101;
}

#characterSelector {
	margin-right: 3vw;
}

#characterSelector:hover {
	color: #0daceb;
}

#vehicleSelector:hover {
	color: #0daceb;
}

#configuratorContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.8);
}

#configurator {
	width: 60vw;
	height: 60vh;
}

#confirmSelect {
	position: relative;
	background: #ff7b29;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	width: 100px;
	height: 50px;
	font-weight: 300;
	font-size: 1.3em;
	top: 28vh;
	left: 60vw;
}

#inGame {
	display: none;	
}

.game-rounds {
	position: absolute;
	/* top: 20px; */
	right: 30px;
	font-size: 50px;
}

#display-finish {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 150px;
}

#discount-timer {
	display: none;
	position: absolute;
	top: 10%;
	left: 50%;
	font-size: 150px;
}

#GameFinish{
	position: absolute;
	display: none;
	top: 231px;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 100%;
}
.GameFinishTable{
	position: absolute;
	margin: auto;
	width: 699px;
	height: 339px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#GameFinishTable table {
	background-color: black;
	color: rgb(255, 255, 255);
	font-family: system-ui;
	font-size: 12px;
	/* font-weight: 650; */
	/* border-collapse: collapse; */
	width: 800px;
	height: 180px;
	text-align: center;
}


#GameFinishTable tbody {
	height: 50px;
	background-color: #707070;
	color: white;
}


#GameFinishTable td {
	border: 1px solid #ffffff;
	background-color: rgba(10, 10, 10, 0.7);
	width: 160px; 
    height: 36px; 
	padding-left: 10px;
}
#Rank {
    position: absolute;
}

.rank-text {
	position: absolute;
    top: -140px;
    left: 570px;
	width: 119px;
	height: 39px;
	text-shadow: none;
	font-weight: 600;
	font-size: 32px; 
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-family: 'Cutive Mono', monospace;
	text-align: center;
	color: #111;
	z-index: 100;
}

.rectangle {
    position: absolute;
    width: 562px;
    height: 198px; 
    background-color: #D9D9D9; 
    left: 238px; /* Added 'px' units */
	top: -185px;
}

.rank-image {
    position: absolute;
    width: 280px; 
    height: 146px; 
    top: -160px;
    left: 270px; 
}